@import 'base.scss';
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');
@font-face {
  font-family: Digital;
  src: url("https://ryanxuan930.github.io/cdn/nsysu_athletics/font/digital.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold my-1;
}

h2 {
  @apply text-3xl font-bold my-1;
}

h3 {
  @apply text-2xl font-bold my-1;
}

h4 {
  @apply text-xl font-bold my-1;
}

h5 {
  @apply text-lg font-bold my-1;
}

h6 {
  @apply text-base font-bold my-1;
}

ul {
  @apply list-disc list-inside ml-5;
}

ol {
  @apply list-decimal list-inside ml-5;
}

#print-root {
  background-color: white !important;
  min-height: 100vh;
}

.print-page {
  min-height: 100vh;
  padding: 1mm;
}

.font20 {
  font-size: 20pt;
}

.font18 {
  font-size: 18pt;
}

.font16 {
  font-size: 16pt;
}

.font14 {
  font-size: 14pt;
}

.font12 {
  font-size: 12pt;
}

.font10 {
  font-size: 10pt;
}

.font8 {
  font-size: 8pt;
}

.print-table {
  @apply w-full border;
}

tr, th, td {
  break-inside: avoid !important;
}

.print-info-table {
  @apply w-full border-2;
  & td {
    @apply border py-0.5 px-2;
  }
}

.print-registration-table {
  @apply w-full border-2;
  & td {
    @apply border py-0.5 px-2;
  }
  & th {
    @apply border py-0.5 px-2 text-left bg-neutral-500 text-white;
  }
}

.print-sign-table {
  @apply w-full;
  & th {
    @apply w-1/3 text-left font-medium;
  }
}